li {
    list-style-type: none;
}

h1 {
    padding-left: 35px;
}

.whole-box {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-left: 15px;
    margin: 20px;
}

.accordion-box {
    border: 1px solid black;
    width: 50%;
}