.image-container {
    position: relative;
    display: inline-block;
}

.icons-overlay {
    position: absolute;
    top: 10px;
    right: 10px;
    display: flex;
    flex-direction: column;
}

.icons-overlay i {
    cursor: pointer;
    color: aqua;
}

.icons-overlay .bi-star-fill:hover {
    color: gold;
}

.icons-overlay .bi-heart-fill:hover {
    color: tomato;
}

.pageTitle {
    text-align: center;
    margin-top: 10px;
} 

.searchResults {
    display: block;
    text-align: center;
    margin-bottom: 15px;
}

.searchProperties {
    display: flex;
    align-items: center;
    justify-content: center;
}

.searchBar {
    width: 300px;
}  

.filterMenu {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 10px;
}

.checkBoxes {
    display: flex;
    align-items: center;
    margin-right: 10px;
}