.dropdown-box {
    margin-left:10px;
    display:flex;
    flex-direction:row;
    gap: 30px;
    padding-top: 20px;
}

.button {
    border:none;
    background-color: light;
    margin-top: 30px;
    margin-left: 15px;
    width: 15vh;
}

.dropdown-theaters {
    width: 18vh;
    height: 6vh;
}

.dropdown-dates {
    width: 18vh;
    height: 6vh;
}

.movies-box {
    border: 2px solid black;
    color: black;
    background-color: lightblue;
    font-size: 20px;
    margin-left: 10px;
    margin-right: 50%;
}